<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bautaplon.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-1RDTQLK;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="bautaplon.Properties.Settings.QuanlythuvienConnectionString"
            connectionString="Data Source=DESKTOP-1RDTQLK;Initial Catalog=Quanlythuvien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>